In [28]:
import sqlite3

In [29]:
conn = sqlite3.connect('demo_data.sqlite3')

In [30]:
curs = conn.cursor()

In [31]:
curs.execute("CREATE TABLE demo (s text PRIMARY KEY NOT NULL,x INTEGER NOT NULL,y INTEGER NOT NULL  )")

In [32]:
curs.execute("INSERT INTO demo(s,x,y) VALUES ('g', 3, 9), ('v', 5, 7), ('f', 8, 7)")

In [33]:
conn.commit()

In [34]:
curs.execute("SELECT COUNT(*) FROM demo").fetchall()

[(3,)]

In [35]:
curs.execute("SELECT COUNT(*) FROM demo WHERE x >= 5 AND y >= 5").fetchall()

[(2,)]

In [36]:
curs.execute("SELECT COUNT(DISTINCT y) FROM demo").fetchall()

[(2,)]

In [37]:
conn = sqlite3.connect('northwind_small.sqlite3')

In [38]:
curs = conn.cursor()

In [39]:
curs.execute("SELECT UnitPrice from Product ORDER BY UnitPrice DESC LIMIT 10").fetchall()

[(263.5,),
 (123.79,),
 (97,),
 (81,),
 (62.5,),
 (55,),
 (53,),
 (49.3,),
 (46,),
 (45.6,)]

In [40]:
curs.execute("SELECT datetime() - AVG(BirthDate) from Employee").fetchall()

[(31.22222222222217,)]

In [41]:
curs.execute("SELECT City, datetime() - AVG(BirthDate) from Employee GROUP BY City").fetchall()

[('Kirkland', 24.0),
 ('London', 26.0),
 ('Redmond', 50.0),
 ('Seattle', 34.0),
 ('Tacoma', 35.0)]

In [42]:
curs.execute(
  """
SELECT UnitPrice, CompanyName 
from Product p 
INNER JOIN Supplier s ON p.SupplierId = s.Id
ORDER BY UnitPrice DESC LIMIT 10
  """
).fetchall()

[(263.5, 'Aux joyeux ecclésiastiques'),
 (123.79, 'Plutzer Lebensmittelgroßmärkte AG'),
 (97, 'Tokyo Traders'),
 (81, 'Specialty Biscuits, Ltd.'),
 (62.5, 'Pavlova, Ltd.'),
 (55, 'Gai pâturage'),
 (53, "G'day, Mate"),
 (49.3, "Forêts d'érables"),
 (46, 'Leka Trading'),
 (45.6, 'Plutzer Lebensmittelgroßmärkte AG')]

In [43]:
curs.execute(
  """
  SELECT CategoryName, COUNT(DISTINCT p.Id) FROM Product p INNER JOIN Category c on c.Id = p.SupplierId
  GROUP BY c.Id
  ORDER BY COUNT(DISTINCT p.Id) DESC 
  LIMIT 1
  """).fetchall()

[('Produce', 5)]

In [44]:
curs.execute(
  """
SELECT FirstName || " " || LastName FROM EmployeeTerritory et 
INNER JOIN Employee e on e.Id = et.EmployeeId
GROUP BY et.EmployeeId
ORDER BY COUNT(DISTINCT(et.TerritoryId)) DESC
LIMIT 1  
  """).fetchall()

[('Robert King',)]

 In the Northwind database, what is the type of relationship between the
  `Employee` and `Territory` tables?   
 ###  Many To Many

In [ ]:
# dspt4